.person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 90%;
  height: 10rem;
  padding: 1rem;
}

.person__img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
}

.person__description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  padding-left: 1rem;
  height: 8rem;
}

.person__name {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.person__years {
  font-size: 1.2rem;
  padding: 0.5rem;
}
