.person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 90%;
  height: 6.25rem;
  padding: 0.625rem;
}

.person__img {
  width: 4.375rem;
  height: 4.375rem;
  object-fit: cover;
  border-radius: 50%;
}

.person__description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  padding-left: 0.625rem;
  height: 5rem;
}

.person__name {
  font-size: 0.9375rem;
  padding: 0.3125rem;
}

.person__years {
  font-size: 0.75rem;
  padding: 0.3125rem;
}
